$text-regular: 14px;
$text-regular-medium: 16px;
$text-medium-large: 18px;
$text-large: 20px;
$text-large-19: 19px;
$text-large-22: 22px;


$font-weight-extra-light: 300;
$font-weight-extra-semi-light: 400;
$font-weight-bold: bold;
$font-weight-lighter: 500;
$font-weight-semi-bold: 600;
$font-weight-extra-bold: 700;
$font-weight-black: 900;
